name: Build

# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      # choose your default branch
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Plugins and prepare artifacts
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          mkdir -p $GITHUB_WORKSPACE/builds
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds
          cp build/plugins.json $GITHUB_WORKSPACE/builds
          SHORT_SHA=${GITHUB_SHA:0:8}
          cp build/plugins.json $GITHUB_WORKSPACE/builds/plugins-${SHORT_SHA}.json
          cat > $GITHUB_WORKSPACE/builds/repo.json <<EOF
          {
            "name": "Cartoony Repo",
            "description": "Arabic Cartoony provider",
            "manifestVersion": 1,
            "pluginLists": [
              "https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/builds/plugins-${SHORT_SHA}.json"
            ]
          }
          EOF

      - name: Deploy to builds branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: builds
          publish_dir: builds
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: Build ${{ github.sha }}
